@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Book store</title>
</head>
<body>
	<div>
		<h3>Books</h3>
		<table>
			<tr>
				<td><p>Title</p></td>
				<td><p>Author</p></td>
				<td><p>Price</p></td>
				<td></td>
			</tr>
			@foreach (var b in ViewBag.books)
			{
            
				<tr>
					<td><p>@b.name</p></td>
					<td><p>@b.author</p></td>
					<td><p>@b.price</p></td>
					<td><p><a href="/Home/Buy/@b.id">Buy</a></p></td>
				</tr>
			}
		</table>
	</div>
</body>
</html>